{% extends "layout.html" %}
{% block content %}
<form action="/address/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="first">First Name</label>
            <input id="first" type="text" class="form-control" placeholder="First Name" name="first">
        </div>
        <div class="col">
            <label for="last">Last Name</label>
            <input id="last" type="text" class="form-control" placeholder="Last Name" name="last">
        </div>
        <div class="col">
            <label for="Address">Address</label>
            <input id="Address" type="text" class="form-control" placeholder="Address" name="Address">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="City">City</label>
            <input id="City" type="text" class="form-control" placeholder="City" name="City">
        </div>
        <div class="col">
            <label for="State">State</label>
            <input id="State" type="text" class="form-control" placeholder="State" name="State">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="zip">ZIP Code</label>

            <input id="zip" type="text" class="form-control" placeholder="ZIP Code" name="zip">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Add New</button>


</form>
{% endblock %}